<!DOCTYPE html>
<html>

<head>

  <title>REFCON</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/overview.css">
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="icon" href="../../imgs/refcon.svg" type="image/svg">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">

  <nav class="navbar navbar-expand-sm navbar-light bg-primary sticky-top">
    <a title="Refcon Homepage" href="/overview" class="navbar-brand brandfont">REFCON</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbarMenu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li title="Click for Account Settings" class="nav-item"><a class="nav-link" href="/accountsettings"><%= name %></a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</head>

<body>