<%- include("adminheader"); -%>

<title>
    REFCON - ADMIN Overview
</title>

<div style="float: left; margin-left: 20px;">

    <div class="cards-list">

        <div onclick="location.href='/adminreport'" class="card 1">
            <div class="card_image"> <img
                    src="https://media.gettyimages.com/photos/pencil-eraser-picture-id171245616?s=2048x2048" />
            </div>
            <div class="card_title title-black">
                <p class="unclick brandfont">Changes & Bug Reports</p>
            </div>
        </div>
    
    </div>

</div>