<%- include("navbaronly"); -%>

<title>
    REFCON - Seating Space Delete all confirmation
</title>

<body>
    <div class="jumbotron">
        <p style="font-size: large;"> <%= message %> </p>
        <a class="btn btn-danger" href="/<%= commit %>">Yes</a>
        <a class="btn btn-primary" href="/<%= goback %>" >No</a>
    </div>
</body>