<%- include("navbaronly"); -%>

<title>
    REFCON - New Message
</title>

<body>
    <div class="container" style="margin-top: 30px;">

        <%if(typerror != "") {%>
            <div class="alert alert-danger"><%= typerror %></div>
        <%}%>

        <form action="/newmessage" method="post">

            <select style="margin-bottom: 10px;" class="form-control" name="teacherFacultyID" required>
                <option value="none"> Select your Teacher </option>
                <% for (var i=0; i< availableFacultyIDs.length; i++) {%>
                <option value="<%= availableFacultyIDs[i] %>"> <%= availableTeachers[i] +" (FID: "+ availableFacultyIDs[i] + ")" %> </option>
                <% } %>
            </select>

            <input required placeholder="Question Title" class="form-control" type="text" name="questionTitle" style="margin-bottom: 10px;">
            <textarea required placeholder="Your Question" class="form-control" name="question" rows="5" cols="30" style="margin-bottom: 10px;"></textarea>

            <button class="btn btn-primary" type="submit" name="button">Send Message</button>

        </form>

    </div>

</body>