<%- include("partials/header", {name: name}); %>


<div class="cards-list">

    <div class="card 2">
        <div class="card_image"> <img
                src="https://media.gettyimages.com/photos/desks-in-empty-classroom-picture-id95011807?s=2048x2048" />
        </div>
        <div class="card_title title-white">
            <p class="unclick brandfont">Seating Order</p>
        </div>
    </div>

    <div onclick="location.href='/event'" class="card 3">
        <div class="card_image">
            <img
                src="https://media.gettyimages.com/photos/high-angle-view-of-people-on-street-picture-id973190966?s=2048x2048" />
        </div>
        <div class="card_title title-black">
            <p class="unclick brandfont">Events</p>
        </div>
    </div>

    <div onclick="location.href='/internalmark'" class="card 4">
        <div class="card_image">
            <img
                src="https://media.gettyimages.com/photos/childs-hand-filling-in-a-multianswer-test-with-a-pencil-picture-id1178339666?s=2048x2048" />
        </div>
        <div class="card_title title-black">
            <p class="unclick brandfont">Internal Marks</p>
        </div>
    </div>

    <div onclick="location.href='/examfee'" class="card 4">
        <div class="card_image">
            <img
                src="https://static.wixstatic.com/media/643947_3a55031e546947618f72c3c512494616~mv2.jpg/v1/fill/w_600,h_337,al_c,lg_1,q_85/643947_3a55031e546947618f72c3c512494616~mv2.webp" />
        </div>
        <div class="card_title title-black">
            <p class="unclick brandfont">Exam Fees</p>
        </div>
    </div>

    <div onclick="location.href='/studenteacherdiscussion'" class="card 4">
        <div class="card_image">
            <img
                src="https://media.gettyimages.com/photos/closeup-of-hand-writing-with-chalk-on-blackboard-picture-id894700156?s=2048x2048" />
        </div>
        <div class="card_title title-white">
            <p class="unclick brandfont">Student Teacher Discussion</p>
        </div>
    </div>

    <div onclick="location.href='/report'" class="card 1">
        <div class="card_image"> <img
                src="https://media.gettyimages.com/photos/pencil-eraser-picture-id171245616?s=2048x2048" />
        </div>
        <div class="card_title title-black">
            <p class="unclick brandfont">Report Bugs & Changes</p>
        </div>
    </div>

</div>



<%- include("partials/footer"); -%>