<%- include("navbaronly"); -%>

<title>
  REFCON - Report Space
</title>

<style>
  .unclick {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
</style>

<div class="container">


  <div style="margin-top: 30px;">

    <form action="/reportspace", method="POST">

      <input type="hidden", name="fromId" value="<%= id %>">
      <input type="hidden", name="fromType" value="<%= type %>">

      <div style="margin-top: 5px;">
        <input checked type="radio" name="reportType" value="bug">
        <label> Report Bug </label> &nbsp;
        <input type="radio" name="reportType" value="change">
        <label> Request Change </label>&nbsp;
      </div>
  
      <input class="form-control" required type="text" name="reportTitle" placeholder="Report Title">
      <textarea class="form-control" name="report" name="" id="" cols="30" rows="3"
        placeholder="Report Description" required></textarea>
  
      <div>
        <button style="margin-top: 7px;" class="btn btn-primary" type="submit">Submit Report</button>
      </div>

    </form>

  </div>



  <div class="alert alert-dismissible alert-info" style="margin-top: 10px;">
    <a title="Close" href="#" class="close" data-dismiss='alert' aria-label="close">
      <font style="font-size: xx-large;">&times;</font>
    </a>

    <h5 style="margin-top: 5px;"><strong><i class="fa fa-lg fa-info-circle" aria-hidden="true"></i> Reporting
        Format</strong></h4>
      <h6>After selecting report type & title make sure the description is similar as follows:
    </h5>
    <p>
      <strong><u>For making changes :</u></strong>
      <ul style="margin-left: -23px; margin-top: -10px;">
        <li>
          Syntax: <strong>Function</strong>(&lt;<strong>Module</strong>&gt;,
          (&lt;<strong>Specifics</strong>&#91;<strong>Sub_Specifics</strong>&#93;&gt;),
          (&lt;&#91;<strong>Future_Specific_value</strong>&#93;&#91;<strong>Future_Sub_Specific_value</strong>&#93;&gt;))
          <ul>
            <li>
              Functions: <strong>UPDATE, DELETE</strong>
            </li>
            <li>
              Modules: <strong>EVENTS, INTERNALS, FEES</strong>
            </li>
            <li>
              <strong>Specifics</strong> - Outer fields you want to change with its value
            </li>
            <li>
              <strong>Sub_Specifics</strong> - Inner fields with its value (if any)
            </li>
            <li>
              <strong>Future_Specific_value</strong> - field's value (if any)
            </li>
            <li>
              <strong>Future_Sub_Specific_value</strong> - sub field's value (if any)
            </li>
          </ul>
        </li>
        <br>
        <li>
          Example: <strong>To update a student's internal mark from X to Y.</strong>
          <br>Following are the specific attributes and their values:
          <ul>
            <li>
              <strong>Specifics</strong>: Department - <strong>CSE</strong>, Year - <strong>1</strong>, Semester -
              <strong>1</strong>, Subject - <strong>C Programming</strong>, Internal - <strong>1</strong>
            </li>
            <li>
              <strong>Sub_Specifics</strong>: Roll Number - <strong>110X1X1XX00X</strong>, Mark - <strong>X</strong>
            </li>
            <li>
              <font style="font-weight: bolder;">&#8756;</font>&nbsp;&nbsp;Report Description is defined as follows:
              <br>
              <strong>UPDATE</strong>(<strong>INTERNALS</strong>, (<strong>Department=CSE, Year=1, Semester=1, Subject=C
                Programming, Internal=1, Roll Number=110X1X1XX00X, Mark=X</strong>), (<strong>Mark=Y</strong>))
            </li>
          </ul>
        </li>
      </ul>
      <strong><u>For reporting bugs :</u></strong>
      <ul style="margin-left: -23px; margin-top: 6px;">
        <li>
          Try using an arrow mark (<strong>-></strong>) for each report sequence that advances to the bug.
        </li>
        <li>
          Do not mention any personal information in the description.
        </li>
      </ul>
      <strong><u>To find Specifics & Sub Specifics :</u></strong>
      <ul style="margin-left: -23px; margin-top: 6px;">
        <li>
          Modules containing <font style="font-weight: bold;">Specifics</font> are highlighted <font style="font-weight: bold; color: #e92843;">red</font> in color.
        </li>
        <li>
          <font style="font-weight: bold;">Specifics</font> can also be found by hovering over a specific space card.
        </li>
        <li>
          <font style="font-weight: bold;">Sub Specifics</font> can be found in the inner fields of a table.
        </li>
        <li>
          Examples for <font style="font-weight: bold;">Specifics: </font>
          <ul>
            <li>
              <font style="font-weight: bold;">Department, Year, Semester, Internal, Subject</font>
            </li>

          </ul>
        </li>
        <li>
          Examples for <font style="font-weight: bold;">Sub Specifics: </font>
          <ul>
            <li>
              <font style="font-weight: bold;">Roll Number, Mark, Arrear, Payment Status</font>
            </li>

          </ul>
        </li>
      </ul>
    </p>

  </div>

</div>