<%- include("navbaronly"); -%>

<title>
    REFCON - Seating Order
</title>

<div class="container">

    <div class="text-right">
        <a href="/seatingorderspace" style="margin-top: 10px;margin-bottom: 10px; font-size: large; color: white;" class="btn btn-primary">Create Seating Space</a>
    </div>

</div>