<%- include("navbaronly"); -%>

<title>
    REFCON - Success!
</title>

<body>
    <div class="jumbotron">
        <p style="font-size: large;"> <%= message %> </p>
        <a class="btn btn-primary" href="/<%= goback %>">Go Back</a>
    </div>
</body>